.blueBackground {
	background-color: #1addca;
}
.smallBorder {
	border: 2px solid black;
}
.largeRedBorder {
	border: 10px solid red;
}

.greenBox {
	background-color: lime;
	width: 70%;
}

.redBox {
	background-color: red;
	width: 70%;
	float: left;
}
.yellowBox {
	background-color: yellow;
	width: 30%;
	float: right;
}